= form_for @tweet do |f|
  - if @tweet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tweet.errors.count, "error")} prohibited this tweet from being saved:"
      %ul
        - @tweet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :record_id
    = f.number_field :record_id
  .field
    = f.label :tweet_text
    = f.text_area :tweet_text
  .actions
    = f.submit 'Save'
