.jumbotron
  .container
    %h1 Project Alexandria (BETA)
    %h2 Keeping History Honest
.container#archives
  .row
    .col-md-6
      %p= link_to 'Create a new archive »', new_archive_path, class: 'btn btn-success btn-lg'
  %hr
  .row
    .col-md-6
      %h3 Most Recent Archives
      - @archives.each do |archive|
        .archive
          .row
            .col-md-3
              = archive.archive_term
            .col-md-9
              %p
                = link_to 'Show', archive, class: 'btn btn-primary btn-sm'
                = link_to 'Edit', edit_archive_path(archive), class: 'btn btn-warning btn-sm'
                = link_to 'Destroy', archive, method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
