.container#new_archive
  .row
    .col-sm-12
      %section.panel.panel-default
        %header.panel-heading.font-bold New Archive
        .panel-body
          = form_for [@account, @archive] do |f|
            .form-group
              %label Title
              = f.text_field :title, class: 'form-control', placeholder: "Enter Title" 
          
            = f.fields_for :archive_items do |ff| 
              .form-group
                %p= ff.label :item_term
                %p= ff.text_field :item_term, class: 'form-control', placeholder: "Enter username or search term"
              .form-group
                %p= ff.label :item_type
                %p= ff.text_field :item_type, class: 'form-control', placeholder: "Enter 'username' or 'search' term"
            %button.btn.btn-sm.btn-success{type: "submit"} Submit
