%p#notice= notice

%p
  %b Archive:
  = @archive_item.archive_id
%p
  %b Item term:
  = @archive_item.item_term
%p
  %b Item type:
  = @archive_item.item_type

= link_to 'Edit', edit_archive_item_path(@archive_item)
\|
= link_to 'Back', archive_items_path
