.row
  .col-sm-12
    %section.panel.panel-default
      - if type == 'new'
        %header.panel-heading.font-bold New Archive
      - elsif type == 'edit'
        %header.panel-heading.font-bold Edit Archive
      .panel-body
        = form_for @archive do |f|
          .form-group
            %label Archive Term
            = f.text_field :archive_term, class: 'form-control', placeholder: "Enter Term" 
          .form-group
            %label Archive Type
            %p
              = f.radio_button :archive_type, 'username', checked: true 
              = f.label :archive_type, 'Username'
            %p
              = f.radio_button :archive_type, 'search', checked: false
              = f.label :archive_type, 'Search'
          %button.btn.btn-sm.btn-success{type: "submit"} Submit
