= form_for @archive do |f|

  .field
    = f.label :title
    = f.text_field :title

    = f.fields_for :archive_items do |ff| 
      %p= ff.label :item_term
      %p= ff.text_field :item_term
      %p= ff.label :item_type
      %p= ff.text_field :item_type

  .actions
    = f.submit 'Save'
