.container#archives
  .row
    .col-md-6
      %h1 All Archives
    .col-md-6
      %p= link_to 'Create a new archive »', new_archive_path, class: 'btn btn-primary btn-lg'
  %hr
  .row
    .col-md-12
      %ol
        - @archives.each do |archive|
          %li
            %p
              = archive.title
              = link_to 'Show', archive, class: 'btn btn-primary btn-sm'
              = link_to 'Edit', edit_archive_path(archive), class: 'btn btn-warning btn-sm'
              = link_to 'Destroy', archive, method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
