.container
  .row
    .col-lg-12#canvas_data{:'data-word-count' => @word_count_array}
      %canvas#my_canvas
  .row
    %ul#records
      %li
        - @archive_items.each do |archive_item|
          %ul
            %li= "Term : #{archive_item.item_term}"
            %li= "Type: #{archive_item.item_type}"
            %ul
              - archive_item.records.each do |record|
                %li= record.tweet.tweet_text
