%p#notice= notice

%p
  %b Title:
  = @archive.title

%ul
  - @records.each do |record|
    %li= record.tweet['tweet_text']


= link_to 'Edit', edit_archive_path(@archive)
\|
= link_to 'All archives', archives_path
