!!!
%html
  %head
    %title ProjectAlexandria
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          = link_to 'Project Alexandria | ', archives_path, class: 'navbar-brand'
          = link_to 'Demos', welcome_demos_path, class: 'navbar-brand'
    = yield
