%p#notice= notice

%p
  %b Name:
  = @account.name
%p
  %b Address:
  = @account.address
%p
  %b Slug:
  = @account.slug

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
